<h1>Examples</h1>

<hr/>
<h2>Glyphicon</h2>

<div class="the-icons">
  <span class="glyphicon glyphicon-glass"></span>
  <span class="glyphicon glyphicon-music"></span>
  <span class="glyphicon glyphicon-search"></span>
  <span class="glyphicon glyphicon-envelope"></span>
  <span class="glyphicon glyphicon-heart"></span>
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star-empty"></span>
  <span class="glyphicon glyphicon-user"></span>
  <span class="glyphicon glyphicon-film"></span>
  <span class="glyphicon glyphicon-th-large"></span>
  <span class="glyphicon glyphicon-th"></span>
  <span class="glyphicon glyphicon-th-list"></span>
  <span class="glyphicon glyphicon-ok"></span>
  <span class="glyphicon glyphicon-remove"></span>
  <span class="glyphicon glyphicon-zoom-in"></span>
  <span class="glyphicon glyphicon-zoom-out"></span>
  <span class="glyphicon glyphicon-off"></span>
  <span class="glyphicon glyphicon-signal"></span>
  <span class="glyphicon glyphicon-cog"></span>
  <span class="glyphicon glyphicon-trash"></span>
  <span class="glyphicon glyphicon-home"></span>
  <span class="glyphicon glyphicon-file"></span>
  <span class="glyphicon glyphicon-time"></span>
  <span class="glyphicon glyphicon-road"></span>
  <span class="glyphicon glyphicon-download-alt"></span>
  <span class="glyphicon glyphicon-download"></span>
  <span class="glyphicon glyphicon-upload"></span>
  <span class="glyphicon glyphicon-inbox"></span>

  <span class="glyphicon glyphicon-play-circle"></span>
  <span class="glyphicon glyphicon-repeat"></span>
  <span class="glyphicon glyphicon-refresh"></span>
  <span class="glyphicon glyphicon-list-alt"></span>
  <span class="glyphicon glyphicon-lock"></span>
  <span class="glyphicon glyphicon-flag"></span>
  <span class="glyphicon glyphicon-headphones"></span>
  <span class="glyphicon glyphicon-volume-off"></span>
  <span class="glyphicon glyphicon-volume-down"></span>
  <span class="glyphicon glyphicon-volume-up"></span>
  <span class="glyphicon glyphicon-qrcode"></span>
  <span class="glyphicon glyphicon-barcode"></span>
  <span class="glyphicon glyphicon-tag"></span>
  <span class="glyphicon glyphicon-tags"></span>
  <span class="glyphicon glyphicon-book"></span>
  <span class="glyphicon glyphicon-bookmark"></span>
  <span class="glyphicon glyphicon-print"></span>
  <span class="glyphicon glyphicon-camera"></span>
  <span class="glyphicon glyphicon-font"></span>
  <span class="glyphicon glyphicon-bold"></span>
  <span class="glyphicon glyphicon-italic"></span>
  <span class="glyphicon glyphicon-text-height"></span>
  <span class="glyphicon glyphicon-text-width"></span>
  <span class="glyphicon glyphicon-align-left"></span>
  <span class="glyphicon glyphicon-align-center"></span>
  <span class="glyphicon glyphicon-align-right"></span>
  <span class="glyphicon glyphicon-align-justify"></span>
  <span class="glyphicon glyphicon-list"></span>

  <span class="glyphicon glyphicon-indent-left"></span>
  <span class="glyphicon glyphicon-indent-right"></span>
  <span class="glyphicon glyphicon-facetime-video"></span>
  <span class="glyphicon glyphicon-picture"></span>
  <span class="glyphicon glyphicon-pencil"></span>
  <span class="glyphicon glyphicon-map-marker"></span>
  <span class="glyphicon glyphicon-adjust"></span>
  <span class="glyphicon glyphicon-tint"></span>
  <span class="glyphicon glyphicon-edit"></span>
  <span class="glyphicon glyphicon-share"></span>
  <span class="glyphicon glyphicon-check"></span>
  <span class="glyphicon glyphicon-move"></span>
  <span class="glyphicon glyphicon-step-backward"></span>
  <span class="glyphicon glyphicon-fast-backward"></span>
  <span class="glyphicon glyphicon-backward"></span>
  <span class="glyphicon glyphicon-play"></span>
  <span class="glyphicon glyphicon-pause"></span>
  <span class="glyphicon glyphicon-stop"></span>
  <span class="glyphicon glyphicon-forward"></span>
  <span class="glyphicon glyphicon-fast-forward"></span>
  <span class="glyphicon glyphicon-step-forward"></span>
  <span class="glyphicon glyphicon-eject"></span>
  <span class="glyphicon glyphicon-chevron-left"></span>
  <span class="glyphicon glyphicon-chevron-right"></span>
  <span class="glyphicon glyphicon-plus-sign"></span>
  <span class="glyphicon glyphicon-minus-sign"></span>
  <span class="glyphicon glyphicon-remove-sign"></span>
  <span class="glyphicon glyphicon-ok-sign"></span>

  <span class="glyphicon glyphicon-question-sign"></span>
  <span class="glyphicon glyphicon-info-sign"></span>
  <span class="glyphicon glyphicon-screenshot"></span>
  <span class="glyphicon glyphicon-remove-circle"></span>
  <span class="glyphicon glyphicon-ok-circle"></span>
  <span class="glyphicon glyphicon-ban-circle"></span>
  <span class="glyphicon glyphicon-arrow-left"></span>
  <span class="glyphicon glyphicon-arrow-right"></span>
  <span class="glyphicon glyphicon-arrow-up"></span>
  <span class="glyphicon glyphicon-arrow-down"></span>
  <span class="glyphicon glyphicon-share-alt"></span>
  <span class="glyphicon glyphicon-resize-full"></span>
  <span class="glyphicon glyphicon-resize-small"></span>
  <span class="glyphicon glyphicon-plus"></span>
  <span class="glyphicon glyphicon-minus"></span>
  <span class="glyphicon glyphicon-asterisk"></span>
  <span class="glyphicon glyphicon-exclamation-sign"></span>
  <span class="glyphicon glyphicon-gift"></span>
  <span class="glyphicon glyphicon-leaf"></span>
  <span class="glyphicon glyphicon-fire"></span>
  <span class="glyphicon glyphicon-eye-open"></span>
  <span class="glyphicon glyphicon-eye-close"></span>
  <span class="glyphicon glyphicon-warning-sign"></span>
  <span class="glyphicon glyphicon-plane"></span>
  <span class="glyphicon glyphicon-calendar"></span>
  <span class="glyphicon glyphicon-random"></span>
  <span class="glyphicon glyphicon-comment"></span>
  <span class="glyphicon glyphicon-magnet"></span>

  <span class="glyphicon glyphicon-chevron-up"></span>
  <span class="glyphicon glyphicon-chevron-down"></span>
  <span class="glyphicon glyphicon-retweet"></span>
  <span class="glyphicon glyphicon-shopping-cart"></span>
  <span class="glyphicon glyphicon-folder-close"></span>
  <span class="glyphicon glyphicon-folder-open"></span>
  <span class="glyphicon glyphicon-resize-vertical"></span>
  <span class="glyphicon glyphicon-resize-horizontal"></span>
  <span class="glyphicon glyphicon-hdd"></span>
  <span class="glyphicon glyphicon-bullhorn"></span>
  <span class="glyphicon glyphicon-bell"></span>
  <span class="glyphicon glyphicon-certificate"></span>
  <span class="glyphicon glyphicon-thumbs-up"></span>
  <span class="glyphicon glyphicon-thumbs-down"></span>
  <span class="glyphicon glyphicon-hand-right"></span>
  <span class="glyphicon glyphicon-hand-left"></span>
  <span class="glyphicon glyphicon-hand-up"></span>
  <span class="glyphicon glyphicon-hand-down"></span>
  <span class="glyphicon glyphicon-circle-arrow-right"></span>
  <span class="glyphicon glyphicon-circle-arrow-left"></span>
  <span class="glyphicon glyphicon-circle-arrow-up"></span>
  <span class="glyphicon glyphicon-circle-arrow-down"></span>
  <span class="glyphicon glyphicon-globe"></span>
  <span class="glyphicon glyphicon-wrench"></span>
  <span class="glyphicon glyphicon-tasks"></span>
  <span class="glyphicon glyphicon-filter"></span>
  <span class="glyphicon glyphicon-briefcase"></span>
  <span class="glyphicon glyphicon-fullscreen"></span>

  <span class="glyphicon glyphicon-dashboard"></span>
  <span class="glyphicon glyphicon-paperclip"></span>
  <span class="glyphicon glyphicon-heart-empty"></span>
  <span class="glyphicon glyphicon-link"></span>
  <span class="glyphicon glyphicon-phone"></span>
  <span class="glyphicon glyphicon-pushpin"></span>
  <span class="glyphicon glyphicon-euro"></span>
  <span class="glyphicon glyphicon-usd"></span>
  <span class="glyphicon glyphicon-gbp"></span>
  <span class="glyphicon glyphicon-sort"></span>
  <span class="glyphicon glyphicon-sort-by-alphabet"></span>
  <span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
  <span class="glyphicon glyphicon-sort-by-order"></span>
  <span class="glyphicon glyphicon-sort-by-order-alt"></span>
  <span class="glyphicon glyphicon-sort-by-attributes"></span>
  <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
  <span class="glyphicon glyphicon-unchecked"></span>
  <span class="glyphicon glyphicon-expand"></span>
  <span class="glyphicon glyphicon-collapse"></span>
  <span class="glyphicon glyphicon-collapse-top"></span>
</div>

<hr/>
<h2>Font Awesome</h2>

<h3>Larger Icons</h3>
<p><i class="icon-camera-retro icon-large"></i> icon-camera-retro</p>
<p><i class="icon-camera-retro icon-2x"></i> icon-camera-retro</p>
<p><i class="icon-camera-retro icon-3x"></i> icon-camera-retro</p>
<p><i class="icon-camera-retro icon-4x"></i> icon-camera-retro</p>

<h3>Bordered & Pulled Icons</h3>
<blockquote>
  <i class="icon-quote-left icon-4x pull-left icon-muted"></i>
Use a few of the new styles together ... lots of new possibilities.
</blockquote>
<blockquote>
  <i class="icon-flag icon-4x pull-left icon-border"></i>
  Use a few of the new styles together ... lots of new possibilities.
</blockquote>

<div class="clearfix"></div>

<h3>Buttons</h3>

<a class="btn" href="#">
  <i class="icon-repeat"></i> Reload</a>
<a class="btn btn-success" href="#">
  <i class="icon-shopping-cart icon-large"></i> Checkout</a>
<a class="btn btn-large btn-primary" href="#">
  <i class="icon-comment"></i> Comment</a>
<a class="btn btn-small btn-info" href="#">
  <i class="icon-info-sign"></i> Info</a>
<a class="btn btn-danger" href="#">
  <i class="icon-trash icon-large"></i> Delete</a>
<a class="btn btn-small" href="#">
  <i class="icon-cog"></i> Settings</a>
<a class="btn btn-large btn-danger" href="#">
  <i class="icon-flag icon-2x pull-left"></i> Font Awesome<br>Version 3.2.1</a>
<a class="btn btn-primary" href="#">
  <i class="icon-refresh icon-spin"></i> Synchronizing Content...</a>


<h3>Button Dropdowns</h3>

<div class="btn-group open">
  <a class="btn btn-primary" href="#"><i class="icon-user"></i> User</a>
  <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
    <span class="icon-caret-down"></span></a>
  <ul class="dropdown-menu">
    <li><a href="#"><i class="icon-fixed-width icon-pencil"></i> Edit</a></li>
    <li><a href="#"><i class="icon-fixed-width icon-trash"></i> Delete</a></li>
    <li><a href="#"><i class="icon-fixed-width icon-ban-circle"></i> Ban</a></li>
    <li class="divider"></li>
    <li><a href="#"><i class="i"></i> Make admin</a></li>
  </ul>
</div>

<h3>Navigation</h3>
<ul class="nav nav-list">
  <li class="active"><a href="#"><i class="icon-fixed-width icon-home"></i> Home</a></li>
  <li><a href="#"><i class="icon-fixed-width icon-book"></i> Library</a></li>
  <li><a href="#"><i class="icon-fixed-width icon-pencil"></i> Applications</a></li>
  <li><a href="#"><i class="icon-fixed-width icon-cogs"></i> Settings</a></li>
</ul>

<h3>Animated Spinner</h3>
<i class="icon-spinner icon-spin icon-large"></i> Spinner icon when loading content...

<h3>Rotated & Flipped</h3>
<i class="icon-shield"></i>&nbsp; normal<br>
<i class="icon-shield icon-rotate-90"></i>&nbsp; icon-rotate-90<br>
<i class="icon-shield icon-rotate-180"></i>&nbsp; icon-rotate-180<br>
<i class="icon-shield icon-rotate-270"></i>&nbsp; icon-rotate-270<br>
<i class="icon-shield icon-flip-horizontal"></i>&nbsp; icon-flip-horizontal<br>
<i class="icon-shield icon-flip-vertical"></i>&nbsp; icon-flip-vertical

<h3>Stacked Icons</h3>
<span class="icon-stack">
  <i class="icon-check-empty icon-stack-base"></i>
  <i class="icon-twitter"></i>
</span>
icon-twitter on icon-check-empty<br>
<span class="icon-stack">
  <i class="icon-circle icon-stack-base"></i>
  <i class="icon-flag icon-light"></i>
</span>
icon-flag on icon-circle<br>
<span class="icon-stack">
  <i class="icon-sign-blank icon-stack-base"></i>
  <i class="icon-terminal icon-light"></i>
</span>
icon-terminal on icon-sign-blank<br>
<span class="icon-stack">
  <i class="icon-camera"></i>
  <i class="icon-ban-circle icon-stack-base text-error"></i>
</span>
icon-camera on icon-ban-circle
