<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner navbar-custom">
    <div class="container">
      <a id="slide-menu-button" href="#sidr-main" class="btn btn-navbar" style="float: left;">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#/">Seed</a>

      <div id="menu-list" class="nav-collapse collapse" ng-cloak>
        <ul class="nav">
          <li><a href="#/">{{ labels.titles.home }}</a></li>
          <li><a href="#/about">{{ labels.titles.about }}</a></li>
        </ul>
      </div><!--/.nav-collapse -->

    </div>
  </div>
</div>